

.bottom-message-notice {
    height:100px;
    box-shadow: 0px 0px 12px #ecc0c0;
    border:1px solid ;
    position: fixed;
    right: 0px;
    bottom: -200px;
    margin-top: 0px;
    opacity: 0;
    background-color: #FFFFFF ;
    border-color:#ecc0c0;
    color: #d57171;
    z-index: 888;
}

.mess_close_btn{
    position: fixed;
    font-size: 13px;
    bottom: -32px;
    right:0px;
    height:24px;
    line-height: 24px;
    cursor:pointer;
    background-color: #BCDDDD;
    padding:2px 2px 2px 3px;
    opacity: 0 ;
    z-index: 999;
}
.mess-notice-con {
    font-size: 13px;
    padding: 20px 30px 20px 30px;
    text-align:left;
}
.mess-notice-con label a{
    text-decoration:none;
    cursor:pointer;
    color:red;
}
.mess-notice-con b{
    font-size:14px;
}
.bottom-message-notice p {
    line-height:26px;
}
.mes_prompt_close{
    position:absolute;
    width:20px;
    height:20px;
    background:url("../images/icons.min.png") no-repeat;
    background-position: -32px -64px;
    top:15px;
    right:7px;
    cursor: pointer;
}


.bottom-bounced-notice{
    display: inline-block; 
    width: 32px;
    height: 32px;   
    vertical-align:middle;
    margin-right: 10px;
}
